---
---

@import "{{ site.theme }}";

/* On crée notre propre bannière en haut du site */
.ma-banniere-personnalisee {
  background-image: url('/banniere.png');
  background-repeat: no-repeat;
  background-size: 100% auto; /* Largeur à 100%, hauteur automatique */
  background-position: center top;
  
  /* La hauteur est définie pour correspondre à l'image */
  /* !! IMPORTANT : Change cette valeur !! */
  height: 300px; 
    
  width: 100%;
}
